
<div ng-show="visible">
        <span>{{message}}</span>
        
    <div>
        <div ng-if="!logged">
            <a ng-click="goToLogin()">Login</a>
            <a ng-click="goToRegister()">Register</a>
        </div>
        <div ng-if="logged">
            <a ng-click="logOut()">LogOut</a>
            <a ng-click="goToEditProfile()">Edit Profile</a>
        </div>
    </div>
        
    <div ng-if="!logged">

        <div ng-if="actionNoLogged=='login'">

            <form ng-submit="submit()">
                <input ng-model="user.username" type="text" name="user" placeholder="Username" />
                <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
                <input ng-model="rememberMe" type="checkbox" name="rememberMe" placeholder="rememberMe" />

                <button ng-click="logIn()">Login</button>
            </form>
        </div>

        <div ng-if="actionNoLogged=='register'">
            Register here
        </div>

    </div>


    <div ng-if="logged && actionLogged=='editprofile'">

        Edit here your User information

    </div>


</div>
